@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap");

/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Primary Colors */
$violet: hsl(263, 55%, 52%);
$light-violet: hsl(263, 55%, 62.5%);
$dark-gray-blue: hsl(217, 19%, 35%);
$dark-gray-blue-50: hsla(217, 19%, 35%, 0.5);
$dark-gray-blue-70: hsla(217, 19%, 35%, 0.7);
$black-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

/* Neutral */
$light-gray: hsl(0, 0%, 81%);
$light-gray-70: hsla(0, 0%, 81%, 0.7);
$light-gray-blue: hsl(210, 46%, 95%);

html {
  background-color: $light-gray-blue;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

li {
  list-style-type: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.grid {
  padding: 70px 24px;
  width: 100%;
  height: 100%;
  .card {
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 24px;
    .flex-row {
      height: 34px;
      display: flex;
      margin-bottom: 16px;
      .profile-picture {
        height: 34px;
        width: 34px;
        border-radius: 50%;
        border: solid 2px $white;
        overflow: hidden;
        margin-right: 10px;
        img {
          height: 30px;
          width: 30px;
        }
      }
      .flex-col {
        display: flex;
        flex-direction: column;
        .user {
          font-size: 13px;
          color: $light-gray;
        }
        .verification {
          font-size: 11px;
          color: $light-gray-70;
        }
      }
    }
    .bold-text {
      max-width: 98%;
      margin-bottom: 22px;
      font-size: 20px;
      font-weight: 600;
      color: $light-gray;
      line-height: 24px;
    }
    .quote {
      font-size: 13px;
      font-weight: 500;
      color: $light-gray-70;
      line-height: 135%;
    }
  }
  .purple {
    background-color: $violet;
    .flex-row {
      .profile-picture {
        border: solid 2px $light-violet;
      }
    }
  }
  .gray-blue {
    background-color: $dark-gray-blue;
    .flex-row {
      .profile-picture {
        border: solid 2px $light-gray;
      }
    }
  }
  .white {
    background-color: $white;
    .flex-row {
      .profile-picture {
        border-color: $light-gray;
      }
      .flex-col {
        .user {
          color: $dark-gray-blue;
        }
        .verification {
          color: $dark-gray-blue-50;
        }
      }
    }
    .bold-text {
      color: $dark-gray-blue;
    }
    .quote {
      color: $dark-gray-blue-70;
    }
  }
  .black-blue {
    background-color: $black-blue;
    .flex-row {
      .profile-picture {
        border-color: $light-violet;
      }
    }
  }
}

/* ############################################## */
/* Default size is 375px min-width */
/* ############################################## */

@mixin _480 {
  @media screen and (min-width: 480px) {
    @content;
  }
}

/*########### Small Tablets ###########*/
@mixin _640 {
  @media screen and (min-width: 640px) {
    @content;
  }
}

/*########### Tablets ###########*/
@mixin _768 {
  @media screen and (min-width: 768px) {
    @content;
  }
}

/*########### Laptops ###########*/
@mixin _1024 {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

/*########### Small Monitor ###########*/
@mixin _1440 {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
