/* ###################################### */
/* ########### MUST READ! ########### */
/* ###################################### */
/*

The JPG version and the Figma version of this design are different.

The "Daniel Clifford" card from the Mobile (the free JPG) version has some irregularities in its design compared to the other cards. I thought I was going crazy, so I threw the JPG into Figma to do some manual measurements, and here's
what I found:

The bold text is misaligned, causing the strange "mid-course" alignment in the JPG. The large paragraph has a 48px padding to its right, while the other cards all have 32px.

I ended up using one of my credits to download the Figma version and lo-and-behold, I was right!

I've been learning design and front-end development at the same time, and am pretty experienced with UI Design on Figma now. In my opinion, the Frames in Figma should be used instead Groups because Frames essentially represent Divs in development. This gives the developer a better idea of where he/she should create divs when writing out the code. The difference between Frames and Groups in Figma is that Frames can be used with padding, auto-layout, etc. There's a lot of similarities between Frames and what you can do with Divs, where as Figma Groups are just grouped elements with no concrete positioning of elements involved.

That being said, my design is based on the Figma file since it has less discrepancies compared to the free JPG version.

Let me know what you guys and gals think!

*/
/* ###################################### */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap");

@import "media-queries";

/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Primary Colors */
$violet: hsl(263, 55%, 52%);
$light-violet: hsl(264, 82%, 70);
$dark-gray-blue: hsl(217, 19%, 35%);
$dark-gray-blue-50: hsla(217, 19%, 35%, 0.5);
$dark-gray-blue-70: hsla(217, 19%, 35%, 0.7);
$black-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$white-70: hsla(0, 0%, 81, 0.7);
$white-50: hsla(0, 0%, 100%, 0.5);

/* Neutral */
$light-gray: hsl(0, 0%, 81%);
$light-gray-70: hsla(0, 0%, 81%, 0.7);
$light-gray-blue: hsl(210, 46%, 95%);

html {
  background-color: $light-gray-blue;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  height: 100vh;
  width: 100vw;
}

li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.grid {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: $light-gray-blue;
  height: 100%;
  max-width: 100%;
  padding: 71px 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 327px));
  gap: 24px;
  @include _1440 {
    width: 1158px;
    height: 720px;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: 282px 266px;
    gap: 30px;
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  }
  .card {
    padding: 26px 32px 32px;
    border-radius: 8px;
    max-width: 540px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    .flex-row {
      display: flex;
      margin-bottom: 18px;
      .profile-picture {
        margin-right: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          position: relative;
          margin: auto;
          height: 28px;
          width: 28px;
          border-radius: 15px;
        }
      }
      .profile-picture.purp-border {
        background-color: $light-violet;
        height: 32px;
        width: 32px;
        border-radius: 30px;
      }
      .flex-col {
        .user {
          font-weight: 500;
          font-size: 13px;
          line-height: 13px;
          margin-bottom: 4px;
        }
        .verification {
          font-weight: 500;
          font-size: 11px;
          line-height: 11px;
        }
      }
    }
    .bold-text {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 16px;
    }
    .quote {
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
    }
    &.daniel {
      background-color: $violet;
      color: $white;
      position: relative;
      @include _1440 {
        grid-area: daniel;
      }
      .quote-graphic {
        position: absolute;
        right: 24px;
        top: 0;
        @include _1440 {
          right: 80px;
        }
      }
      .profile-picture {
        img {
          border-color: $light-violet;
        }
      }
      .flex-col {
        z-index: 1;
        .verification {
          color: $white-50;
        }
      }
      .bold-text {
        position: relative;
        z-index: 1;
        margin-bottom: 40px;
        @include _1440 {
          margin-bottom: 16px;
        }
      }
      .quote {
        color: $white-70;
        z-index: 1;
      }
    }
    &.jonathan {
      background-color: $dark-gray-blue;
      @include _1440 {
        grid-area: jonathan;
      }
      .profile-picture {
        img {
          border: none;
        }
      }
      .user,
      .bold-text {
        color: $white;
      }
      .verification {
        color: $white-50;
      }
      .quote {
        color: $white-70;
      }
    }
    &.jeanette,
    &.kira {
      background-color: $white;
      @include _1440 {
        max-width: 255px;
      }
      .profile-picture {
        img {
          border: $white;
        }
      }
      .user,
      .bold-text {
        color: $dark-gray-blue;
      }
      .bold-text {
        margin-bottom: 24px;
      }
      .verification {
        color: $dark-gray-blue-50;
      }
      .quote {
        color: $dark-gray-blue-70;
      }
    }
    &.jeanette {
      @include _1440 {
        grid-area: jeanette;
      }
    }
    &.kira {
      @include _1440 {
        grid-area: kira;
      }
    }
    &.patrick {
      background-color: $black-blue;
      @include _1440 {
        grid-area: patrick;
      }
      .flex-row {
        .profile-picture {
          img {
            border-color: $violet;
          }
        }
        .flex-col {
          .user {
            color: $white;
          }
          .verification {
            color: $white-50;
          }
        }
      }
      .bold-text {
        color: $light-gray-blue;
        margin-bottom: 24px;
      }
      .quote {
        color: $white-70;
      }
    }
  }
}
